.Prediction__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.form__header{
    align-items: center;
}
.forms__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction:column ;
    margin-top: 60px;
    border: 2px solid #FFB5BE;
    padding: 40px;
    border-radius: 10px;
    width: fit-content;
    box-sizing: border-box;
    width: 100%;
    /* height: 80vh; */

}
label {
    width: 100%;
}
label> input{
    margin-left: 20px;
    border-radius: 10px;
    height: 30px;
    background-color: lightblue;
    border:transparent;
    width: 80%;
    color: black;
    font-weight: 700;
}
button{
    border-radius: 10px;
    align-items: center;
    width: 50%;
    height: 30px;
    border: none;
    background-color: BLack;
    font-size: 16px;
    color:white;
    cursor: pointer;
    


}
.prediction__result{
    box-sizing: border-box;
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.trial{
    margin: 20px;
}
